#Remove this line before deploying
_____REMOVE_THIS_LINE_____=True

# ENTER BOT TOKEN (Get your BOT_TOKEN by talking to @botfather)
BOT_TOKEN = "1448786414:AAE9eaiwjiNopxNmeGnn6lpI5dCW6U4yleI"
GDRIVE_FOLDER_ID = "1Wg0cOqiFtPTwkH8IhrFfsdMFLviiEu3y"
OWNER_ID = 555994473
DOWNLOAD_DIR = "/home/username/mirror-bot/downloads"
DOWNLOAD_STATUS_UPDATE_INTERVAL = 5
AUTO_DELETE_MESSAGE_DURATION = 20
IS_TEAM_DRIVE = "True"
INDEX_URL = "https://myindexfile.djalam300.workers.dev"
USER_SESSION_STRING = "BQCV8SMBvWYXuRACib5_TXXQzH5n1tg-zY4Gbv8ohL6PY2bFlM9DM6mLCY93L1xNdEi3NuX5ldWx8A_zkd4DB2B2NegPdvGFjP_aLbn4pHH82DNlYN8IDMhTtFT1O8NxKvZdGx6cqiz-rJMFq4ILs_8ej8d8In0E50cLpATL87PTUrgykx1_3ccWza917KaVr4fN8OJeJrumbOlaGNbmeEq2iAmN_xH0nfbmRcWDUU9kCSp5SjzaaNVLGW6xyHYI5F0nbDMBIeMlppfbnwUfaRNpn4vmLQKpZ72Rh9w8tqLsJ3IV_DatZ5c_1dEHBAORWziEyXmO_vDvjL8EkfEAcW3LISPNaQA"
TELEGRAM_API = 2069099
TELEGRAM_HASH = "c9083372a4110877c8a42a27c9ee1c9e"
USE_SERVICE_ACCOUNTS = "true"
